<%= render "user_banner" %>

  <div id="links">
    <div class="wrapper_skinny">
      <ul>
        <li><%= link_to "Movies", root_path %></li>
        <li><%= link_to "New Movie", new_user_movie_path(@user) %></li>
        <li><%= link_to "Account Settings", edit_user_registration_path %></li>
        <li><%= link_to "Profile", user_path(current_user) %></li>
      </ul>
    </div>
  </div>

  <div id="form">
    <div class="wrapper_skinny">
      <%= render "form" %>
    </div>
  </div>
</div>
