<div id="podcasts_show">
  <div id="show_banner">
    <div class="wrapper_skinny">
      <h1>Dashboard</h1>
    </div>
  </div>

  <div id="links">
    <div class="wrapper_skinny">
      <ul>
        <li><%= link_to "Movies", root_path %></li>
        <li><%= link_to "New Movie", new_user_movie_path(@user), class: "current" %></li>
        <li><%= link_to "Account Settings", edit_user_registration_path %></li>
        <li><%= link_to "Profile", user_path(current_user) %></li>
      </ul>
    </div>
  </div>

  <div id="form">
    <div class="wrapper_skinny">
      <%= render "form" %>
    </div>
  </div>
</div>
