<%= render "user_banner" %>

  <div id="movie_content">
    <div class="wrapper_skinny">
      <%= image_tag @movie.movie_logo.url(:thumb), class: "current_movie_thumbnail" %>
      <h3><%= @movie.title %></h3>
      <p class="description"><%= @movie.description %></p>

      <div class="wrapper_video">
        <%= video_tag @movie.video.url, :size => "520x240", :controls => true %>
      </div>
    </div>
  </div>

  <div id="movies">
    <div class="wrapper_skinny">
      <ul class="cf">
        <% @movies.each do |movie| %>
        <li class="cf">
          <div class="movie_thumbnail">
            <a href="#l">
              <%= image_tag movie.movie_logo.url(:thumb) %>
            </a>
          </div>
          <div class="movie_overview">
            <h3><%= link_to movie.title, user_movie_path(@user, movie) %></h3>
            <p class="description"><%= truncate(movie.description, length: 160) %></p>
          </div>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
