<%= render 'layouts/header' %>
  <div id="users_show">
    <div id="show_banner">
      <div class="wrapper_skinny">
        <%= image_tag @user.photo.url(:small) %>
        <h1>Manage your movies.</h1>
      </div>
    </div>

    <div id="links">
      <div class="wrapper_skinny">
        <ul>
          <li class="current">Movies</li>
          <li><%= link_to "New Movie", new_user_movie_path(@user) %></li>
          <li><%= link_to "Account Settings", edit_user_registration_path %></li>
          <li><%= link_to "Profile", user_path(current_user) %></li>
        </ul>
      </div>
    </div>

    <div id="movies">
      <div class="wrapper_skinny">
        <ul class="cf">
          <% @movies.each do |movie| %>
            <li class="cf">
              <div class="movie_thumbnail">
                <a href="#">
                  <%= image_tag movie.movie_logo.url(:thumb) %>
                </a>
              </div>
              <div class="movie_overview">
                <h3><%= link_to movie.title, user_movie_path(@user, movie) %></h3>
                <p class="description"><%= truncate(movie.description, length: 160) %></p>
                <div class="authorized_links">
                  <%= link_to "Edit", edit_user_movie_path(@user, movie) %>
                  <%= link_to "Delete", user_movie_path(@user, movie), method: :delete, data: {confirm: "Are you sure?"} %>
                </div>
              </div>
            </li>
          <% end %>
        </ul>
          <%= will_paginate @movies, previous_label: "<<", next_label: ">>" %>
      </div>
    </div>
  </div>
