
<div id="banner" class="users_banner">
    <h1>Be first among equals</h1>
  </div>

  <div id="users" class="cf">
    <div class="wrapper">
      <ul class="cf">
        <% @users.each do |user| %>
          <%= link_to user do %>
            <li>
              <%= image_tag user.photo.url(:thumb) %>
                <div class="users_overview">
                <h2><%= user.name %></h2>
                <p class="movie_count">
                  <%= user.movies.count %>
                  <%= "Movie".pluralize(user.movies.count) %>
                </p>
              </div>
            </li>
          <% end %>
        <% end %>
      </ul>
      <%= will_paginate @users, previous_label: "<<", next_label: ">>" %>
    </div>
  </div>
