  <%= render "movies/user_banner" %>

  <div id="movies">
    <div class="wrapper_skinny">
      <ul class="cf">
        <% @movies.each do |movie| %>
        <li class="cf">
          <div class="movie_thumbnail">
            <a href="#">
              <%= image_tag movie.movie_logo.url(:thumb) %>
            </a>
          </div>
          <div class="movie_overview">
            <h3><%= link_to movie.title, user_movie_path(@user, movie) %></h3>
            <p class="description"><%= truncate(movie.description, length: 160) %></p>
          </div>
        </li>
        <% end %>
      </ul>
      <%= will_paginate @movies, previous_label: "<<", next_label: ">>" %>
    </div>
  </div>
</div>
