<div id="background">
   <header class="cf">
     <div class="wrapper_wide">
       <%= link_to "Pet Movies", users_path, id: "logo" %>
         <nav>
           <ul>
             <% unless user_signed_in? %>
             <li><%= link_to "All we here", users_path %></li>
             <li><%= link_to "Sign up", new_user_registration_path %></li>
             <li><%= link_to "Log in", new_user_session_path %></li>
             <% else %>
             <li><%= link_to "All we here", users_path %></li>
             <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
             <% end %>
         </ul>
       </nav>
     </div>
   </header>
  <h1>Discover all good favorit Users!</h1>
  <div class="wrapper_skinny">
    <%= link_to "Join us", new_user_registration_path, class: "button button_highlight" %>
    <%= link_to "All we here", users_path, class: "button button_white" %>
  </div>
</div>
